.header {
	margin: 2vh 5vw 1.5vh 5vw;
	max-width: calc(100% - 10vw);
	text-align: center;
	// margin: 0 auto;
	a {
		text-decoration: none;
	}
	h1 {
		font-size: 5em;
		margin-bottom: 1vh;
	}
}

nav {
	a {
		padding: 0 1vw;
		color: $colorLight;
		text-decoration: none;
	}
	a:hover {
		color: $colorComp;
	}
}

// special for desktop + homepage
.lock-over {
	position: absolute;
	z-index: 1;
	width: 100%;
	h1 {
		color: $colorComp;
		text-shadow: $textShadow;
	}
}
