.story {
	position: relative;
	overflow: hidden;
	height: 100vh;

	.gallery {
		img,
		.img-item,
		.txt-item {
			width: 100vw;
			height: 100vh;
		}
		img {
			object-fit: cover;
		}

		.img-item,
		.txt-item {
			text-align: unset;
			position: absolute;
			margin-left: 100vw;

			.left,
			.right,
			.center {
				width: 92vw;
				margin-left: 4vw;
				margin-right: 4vw;
			}
			.center {
				text-align: center;
			}
			.right {
				text-align: right;
			}
		}
		.txt-item {
			color: white;
			line-height: 1.5em;
			font-size: 2em;
			text-shadow: $textShadow;
			> div {
				position: absolute;
			}
		}
		> :nth-child(1) {
			margin-left: 0;
		}
	}

	button {
		position: absolute;
		width: 20vw;
		height: 100vh;
		cursor: pointer;
		color: $colorLight;
		font-family: 'Cabin Sketch', Arial;
		font-size: 10em;
		text-shadow: $textShadow;
		/* RESET */
		background: none;
		border: 0;
		padding: 0;
		line-height: normal;
		overflow: visible;
		-webkit-appearance: button; /* for input */
		-webkit-user-select: none; /* for button */
		-moz-user-select: none;
		-ms-user-select: none;
	}
	button:hover {
		color: $colorComp;
	}
	button:focus {
		outline: 0;
	}
	button.next {
		right: 0;
	}
	.story-btn-disable {
		display: none;
	}
}
