* {
	margin: 0;
	padding: 0;
}

// @import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Lato:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Special+Elite|Cabin+Sketch:700');
$colorDark: #0b2e3a;
$colorMid: #1d657c;
$colorLight: #0099cd;
$colorComp: #c8a14a;

body {
	font-family: 'Special Elite', cursive;
	background: #eee;
	font-size: 0.8em;
}

html,
body,
#root,
.App {
	width: 100%;
}

.App-header {
	margin: 2vw 5vw 2vw 5vw;
	max-width: calc(100% - 10vw);
	text-align: center;
	// margin: 0 auto;
	a {
		text-decoration: none;
	}
	h1 {
		font-size: 5em;
		margin-bottom: 2vw;
	}
}

.buffered-content {
	margin-left: 5vw;
	max-width: calc(100% - 10vw);
}

.content-container {
	text-align: center;
}

nav {
	a {
		padding: 0 1vw;
		color: $colorLight;
		text-decoration: none;
	}
	a:hover {
		color: $colorComp;
	}
}

/* --- PAGES ------------------------------------ */
.home-page {
	h2 {
		font-size: 3em;
		color: $colorComp;
	}
}

.when-where-page {
	width: 100%;

	.starter-info {
		#loc {
			color: $colorMid;
		}
		#addr {
			color: $colorLight;
		}
	}
}

.wedding-name {
	color: $colorLight;
}

/* ---------------------------------------------- */
h1 {
	color: $colorMid;
	font-family: 'Cabin Sketch', Arial;
}

h2 {
	font-size: 3em;
	color: $colorMid;
	margin: 1em;
	font-family: 'Amatic SC', Arial;
}

h3 {
	color: $colorComp;
	margin: 1em;
	font-family: 'Amatic SC', Arial;
	font-size: 2em;
}

p {
	line-height: 1.5em;
	a {
		color: $colorMid;
		text-decoration: none;
	}
	a:hover {
		color: $colorComp;
	}
}

.end-capped {
	padding-bottom: 2em;
}

p.multi {
	br {
		line-height: 3em;
	}
}

.max-wide {
	max-width: 900px;
	margin: auto;
}

ul {
	list-style-type: none;
	line-height: 2em;
}

.dual-column {
	display: flex;
	justify-content: center;

	> :nth-child(1) {
		text-align: right;
		color: $colorMid;
	}

	> :nth-child(2) {
		margin-left: 1em;
		text-align: left;
		color: $colorLight;
	}
}

.flex-base {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

#header {
	display: flex;
}

.large-img {
	max-width: 100%;
}

.dummy-img {
	content: url('./images/dummy.jpg');
	max-width: 100%;
}

.postcard {
	// border: 15px solid white;
	width: auto;
	height: auto;
	box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
}

#hotels-holder {
	display: flex;
	align-content: center;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-around;
	max-width: 700px;
	margin: auto;

	.hotel-single {
		margin-bottom: 2em;
	}
	.hotel-chunk {
		margin-bottom: 0.6em;
	}
}

.mobile-br {
	display: none;
}

/* ---------------------------------------------- */
// STORY
.story {
	// position: relative;
	// height: 100%;

	.gallery {
		overflow: auto;
		white-space: nowrap;
		// position: absolute;

		img {
			width: 100%;
			display: inline-block;
		}
	}
	button {
		// position: absolute;
	}
}

/* ---------------------------------------------- */

/* iPad */
@media only screen and (min-device-width: 768px) {
	.App-header {
		h1 {
			font-size: 4em;
		}
	}
}

/* Mobile */
@media only screen and (max-device-width: 700px) {
	body {
		/*background-image: url('./images/engagement_mobile.jpg');
		background-size: cover;
		background-position: 50% 50%;*/
	}

	.postcard {
		// display: none;
	}

	h2 {
		font-size: 2.5em;
	}
	#hotels-holder {
		display: block;
		max-width: 100%;
	}

	.App-header {
		h1 {
			font-size: 3em;
			margin-top: 0.6em;
			margin-bottom: 0.3em;
		}
		.mobile-br {
			display: block;
		}
	}
}
