* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Lato:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Special+Elite');

$colorDark: #0b2e3a;
$colorMid: #1d657c;
$colorLight: #0099cd;
$colorComp: #c8a14a;

body {
	font-family: 'Special Elite', cursive;
	background: #eee;
}

html,
body,
#root,
.App {
	width: 100%;
}
.content-container {
	margin-left: 5vw;
	max-width: calc(100% - 10vw);
}

.App-header {
	margin: 2vw 5vw 2vw 5vw;
	max-width: calc(100% - 10vw);
	text-align: center;
	// margin: 0 auto;
}

.content-container {
	text-align: center;
}

nav {
	a {
		padding: 0 1vw;
		color: $colorLight;
		text-decoration: none;
	}
	a:hover {
		color: $colorComp;
	}
}

.home {
	width: 100%;
}

h1 {
	color: $colorMid;
	margin-bottom: 1vw;
}

h2 {
	color: $colorMid;
	margin: 1em;
}

h3 {
	color: $colorComp;
	margin: 1em;
}

ul {
	list-style-type: none;
}

.flex-base {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

#header {
	display: flex;
	/*height: 24vh;*/
}

.bridal-img {
	content: url('./images/bridalveil.jpg');
	max-width: 100%;
}

.engagement-img {
	content: url('./images/engagement_pic.jpg');
	max-width: 100%;
}

.postcard {
	// border: 15px solid white;
	width: auto;
	height: auto;
	box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.1);
}

#hotels-holder {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}
button {
	padding: 1em 2em;
}

@media only screen and (max-device-width: 700px) {
	body {
		/*background-image: url('./images/engagement_mobile.jpg');
		background-size: cover;
		background-position: 50% 50%;*/
	}

	.postcard {
		display: none;
	}

	h2 {
		font-size: 1.5em;
	}
}
